@import "../../../../common/variables.scss";
@import "../../../../common/mixins.scss";

.covid-list {
    grid-area: list;
    position: relative;

    border-radius: 5px;
    border: 1px solid $primary-border-color;
    background-color: $primary-color;

    &.light {
        border: 1px solid $primary-border-color-light;
        background-color: $primary-color-light;
    }

    &.scale {
        @include block-scale;
    }
}

.list__container {
    width: 100%;
}

.list__container-table-listbody {
    display: block;
    margin: 0;
    padding: 5px;
    max-height: 550px;
    overflow-y: scroll;
}

.list__container-listbody-table-value-td,
.list__container-listbody-table-country-td {
    list-style-type: none;
    color: #000000;
    font-size: 14px;
    padding: 5px;
}

.list__container-listbody-table-country-td {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.list__container-listbody-table-value-tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.list__container-tr-caption {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.list__container-caption-country-value,
.list__container-caption-country-name {
    color: #000000;
    cursor: pointer;
    text-align: left;
    padding: 5px;

    &:hover {
        text-decoration: underline;
    }
}

.dark {
    color: #cacaca;
}

.light {
    color: #000000;
}

.list__container-listbody-table-flag-img {
    width: 15px;
    margin-right: 5px;
}
